/* Material icon */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* Libraries */
/* Reset */
.zn-content.product,
.zn-content.collection,
.zn-content.cart,
.zn-content.not-found,
.zn-content.boxed {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
    box-sizing: content-box;
}
.zn-container::before,
.zn-content.collection::before {
    content: "";
    display: block;
    clear: both;
}
.zn-element-wrapper {
    line-height: 1;
}
.zn-element-wrapper h1,
.zn-element-wrapper h2,
.zn-element-wrapper h3,
.zn-element-wrapper h4,
.zn-element-wrapper h5,
.zn-element-wrapper h6,
.zn-element-wrapper p {
    margin: 0;
}
.zn-element-wrapper .medium-editor-list {
    list-style: disc;
    list-style-position: inside;
}
.zn-element-wrapper .zn-heading p,
.zn-element-wrapper .zn-text p {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
}
.page-container {
    transform: none;
}
/* Utilities */
.zn-noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
@media (min-width: 1026px) {
    .zn-md,
    .zn-sm {
        display: none;
    }
    .zn-off-lg {
        display: none;
    }
}
@media (min-width: 721px) and (max-width: 1025px) {
    .zn-sm {
        display: none;
    }
    .zn-hide-md {
        display: none;
    }
    .zn-off-md {
        display: none;
    }
}
@media (max-width: 720px) {
    .zn-hide-sm {
        display: none;
    }
    .zn-off-sm {
        display: none;
    }
}
#znid-031317995946 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}
#znid-031317995946[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-031317995946[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}
#znid-031317995946[data-background-type="color"] {
    background-color: ;
}
#znid-031317995946[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-031317995946[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#znid-031317995946[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}
#znid-031317995946>.zn-element {
    text-align: center;
}
#znid-031317995946>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0px 12px 0px;
}
#znid-031317995946[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}
#znid-031317995946[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}
#znid-031317995946[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}
#znid-031317995946 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}
#znid-031317995946>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 12px;
}
#znid-031317995946 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}
#znid-031317995946 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}
#znid-031317995946 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}
#znid-031317995946 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}
#znid-031317995946 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}
#znid-031317995946 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}
#znid-031317995946 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}
#znid-031317995946[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 12px / 2);
    margin-right: 0;
    flex-grow: 0;
}
#znid-031317995946 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}
#znid-031317995946 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}
#znid-031317995946 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}
#znid-031317995946 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}
#znid-031317995946 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}
@media (min-width: 721px) and (max-width: 1025px) {
    #znid-031317995946 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }
    #znid-031317995946 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }
    #znid-031317995946 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }
    #znid-031317995946 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }
    #znid-031317995946 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }
    #znid-031317995946 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }
    #znid-031317995946 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }
    #znid-031317995946[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }
    #znid-031317995946 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }
    #znid-031317995946 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }
    #znid-031317995946 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }
    #znid-031317995946 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }
    #znid-031317995946 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}
@media (max-width: 720px) {
    #znid-031317995946 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }
    #znid-031317995946 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }
    #znid-031317995946 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }
    #znid-031317995946 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }
    #znid-031317995946 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }
    #znid-031317995946 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }
    #znid-031317995946 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }
    #znid-031317995946[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }
    #znid-031317995946 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }
    #znid-031317995946 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }
    #znid-031317995946 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }
    #znid-031317995946 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }
    #znid-031317995946 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}
#znid-423070935126 {
    margin: 0px 0px 0px 20px;
    opacity: 1;
}
#znid-423070935126[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-423070935126[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-423070935126[data-background-type="color"] {
    background-color: ;
}
#znid-423070935126[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-423070935126 h3 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
}
#znid-423070935126[data-text-shadow-enable="true"] h3 {
    text-shadow: 3px 3px 3px #333333;
}
#znid-752134044522 {
    opacity: 1;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#znid-752134044522[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-752134044522[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-752134044522[data-background-type="color"] {
    background-color: ;
}
#znid-752134044522[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-752134044522 .zn-icon,
#znid-752134044522 .zn-icon a {
    display: flex;
    align-items: start;
    justify-content: flex-end;
}
#znid-752134044522 .zn-icon .material-icons-outlined {
    font-size: calc(36px + 8px);
    color: #333333;
    position: relative;
    top: -4px;
}
#znid-752134044522 .zn-icon .zn-icon-description {
    text-align: left;
    font-family: inherit;
    font-size: 36px;
    font-weight: normal;
    color: #333333;
}
#znid-089557325667 {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#znid-089557325667 .zn-hamburger-wrapper {
    opacity: 1;
    text-align: right;
}
#znid-089557325667 .zn-hamburger {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    text-align: right;
}
#znid-089557325667 .zn-hamburger i {
    font-size: 24px;
    color: #333333;
}
#znid-089557325667 .zn-menu-control {
    display: none;
}
#znid-089557325667 .zn-menu-control:checked+.zn-menu-sidebar {
    transform: translatex(0);
}
#znid-089557325667 .zn-menu-control:checked+.zn-menu-sidebar .zn-sidebar__close {
    transform: translatex(0) rotate(45deg);
}
#znid-089557325667 .zn-menu-control:checked+.zn-menu-sidebar .zn-sidebar__menu a {
    transform: translatex(0);
}
#znid-089557325667 .zn-menu-sidebar {
    height: 100vh;
    width: 320px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    transform: translatex(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 99999;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 2%);
}
#znid-089557325667[data-background-type="color"] .zn-menu-sidebar {
    background-color: ;
}
#znid-089557325667[data-background-type="image"] .zn-menu-sidebar {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-089557325667 .zn-sidebar__close {
    position: absolute;
    top: 50%;
    right: -30px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 2%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(-100%);
    cursor: pointer;
    transition: transform 0.4s ease-in-out 0.2s;
}
#znid-089557325667 .zn-sidebar__close::before,
.zn-sidebar__close::after {
    content: "";
    height: 2px;
    background: #898989;
    width: 24px;
    display: block;
    position: absolute;
}
#znid-089557325667 .zn-sidebar__close::after {
    transform: rotate(90deg);
}
#znid-089557325667 .zn-sidebar__menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #898989;
}
#znid-089557325667 .zn-sidebar__menu a {
    font-family: inherit;
    color: #333333;
    text-decoration: none;
    transform: translatex(-80%);
    transition: transform 0.4s ease-in-out;
}
#znid-089557325667 .zn-sidebar__menu a::before {
    content: "";
    height: 2px;
    background: #333333;
    width: 120px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translatex(-50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s linear;
}
#znid-089557325667 .zn-sidebar__menu a:hover {
    color: #333333;
}
#znid-089557325667 .zn-sidebar__menu a:hover::before {
    transform: translatex(0);
    opacity: 1;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(1) {
    transition-delay: 0.05s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(2) {
    transition-delay: 0.1s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(3) {
    transition-delay: 0.15s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(4) {
    transition-delay: 0.2s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(5) {
    transition-delay: 0.25s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(6) {
    transition-delay: 0.3s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(7) {
    transition-delay: 0.35s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(8) {
    transition-delay: 0.4s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(9) {
    transition-delay: 0.45s;
}
#znid-089557325667 .zn-sidebar__menu a:nth-child(10) {
    transition-delay: 0.5s;
}
#znid-089557325667 .zn-sidebar__social {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
#znid-089557325667 .zn-sidebar__social li {
    margin: 4px;
}
#znid-089557325667 .zn-sidebar__social a,
.zn-sidebar__social svg {
    display: inline-block;
    height: 18px;
    width: 18px;
    fill: #2196F3;
}
#znid-524259087955 {
    opacity: 1;
    margin: 0px 0px 0px 0px;
}
#znid-524259087955[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-524259087955[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
}
#znid-524259087955[data-background-type="color"] {
    background-color: ;
}
#znid-524259087955[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-524259087955[data-full-width="true"] {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#znid-524259087955[data-full-width="false"] {
    width: auto;
    left: 0;
    transform: none;
}
#znid-524259087955>.zn-element {
    text-align: center;
}
#znid-524259087955>.zn-element>.zn-row {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0px 32px 0px;
}
#znid-524259087955[data-vertical-align="top"]>.zn-element>.zn-row {
    align-items: flex-start;
}
#znid-524259087955[data-vertical-align="center"]>.zn-element>.zn-row {
    align-items: center;
}
#znid-524259087955[data-vertical-align="bottom"]>.zn-element>.zn-row {
    align-items: flex-end;
}
#znid-524259087955 .zn-row .zn-column {
    flex-basis: 0;
    width: 0;
}
#znid-524259087955>.zn-element>.zn-row>.zn-column:not(:last-child) {
    margin-right: 12px;
}
#znid-524259087955 .zn-row .zn-column-lg-12 {
    flex-basis: 100%;
    margin-right: 0 !important;
}
#znid-524259087955 .zn-row .zn-column-lg-11 {
    flex-grow: 11;
}
#znid-524259087955 .zn-row .zn-column-lg-10 {
    flex-grow: 10;
}
#znid-524259087955 .zn-row .zn-column-lg-9 {
    flex-grow: 9;
}
#znid-524259087955 .zn-row .zn-column-lg-8 {
    flex-grow: 8;
}
#znid-524259087955 .zn-row .zn-column-lg-7 {
    flex-grow: 7;
}
#znid-524259087955 .zn-row .zn-column-lg-6 {
    flex-grow: 6;
}
#znid-524259087955[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-lg-6 {
    flex-basis: calc(50% - 12px / 2);
    margin-right: 0;
    flex-grow: 0;
}
#znid-524259087955 .zn-row .zn-column-lg-5 {
    flex-grow: 5;
}
#znid-524259087955 .zn-row .zn-column-lg-4 {
    flex-grow: 4;
}
#znid-524259087955 .zn-row .zn-column-lg-3 {
    flex-grow: 3;
}
#znid-524259087955 .zn-row .zn-column-lg-2 {
    flex-grow: 2;
}
#znid-524259087955 .zn-row .zn-column-lg-1 {
    flex-grow: 1;
}
@media (min-width: 721px) and (max-width: 1025px) {
    #znid-524259087955 .zn-row .zn-column-md-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }
    #znid-524259087955 .zn-row .zn-column-md-11 {
        flex-grow: 11;
    }
    #znid-524259087955 .zn-row .zn-column-md-10 {
        flex-grow: 10;
    }
    #znid-524259087955 .zn-row .zn-column-md-9 {
        flex-grow: 9;
    }
    #znid-524259087955 .zn-row .zn-column-md-8 {
        flex-grow: 8;
    }
    #znid-524259087955 .zn-row .zn-column-md-7 {
        flex-grow: 7;
    }
    #znid-524259087955 .zn-row .zn-column-md-6 {
        flex-grow: 6;
    }
    #znid-524259087955[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-md-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }
    #znid-524259087955 .zn-row .zn-column-md-5 {
        flex-grow: 5;
    }
    #znid-524259087955 .zn-row .zn-column-md-4 {
        flex-grow: 4;
    }
    #znid-524259087955 .zn-row .zn-column-md-3 {
        flex-grow: 3;
    }
    #znid-524259087955 .zn-row .zn-column-md-2 {
        flex-grow: 2;
    }
    #znid-524259087955 .zn-row .zn-column-md-1 {
        flex-grow: 1;
    }
}
@media (max-width: 720px) {
    #znid-524259087955 .zn-row .zn-column-sm-12 {
        flex-basis: 100%;
        margin-right: 0 !important;
    }
    #znid-524259087955 .zn-row .zn-column-sm-11 {
        flex-grow: 11;
    }
    #znid-524259087955 .zn-row .zn-column-sm-10 {
        flex-grow: 10;
    }
    #znid-524259087955 .zn-row .zn-column-sm-9 {
        flex-grow: 9;
    }
    #znid-524259087955 .zn-row .zn-column-sm-8 {
        flex-grow: 8;
    }
    #znid-524259087955 .zn-row .zn-column-sm-7 {
        flex-grow: 7;
    }
    #znid-524259087955 .zn-row .zn-column-sm-6 {
        flex-grow: 6;
    }
    #znid-524259087955[data-layout^="3-3-3-3"]>.zn-element>.zn-row>.zn-column-sm-6 {
        flex-basis: calc(50% - 12px / 2);
        margin-right: 0;
        flex-grow: 0;
    }
    #znid-524259087955 .zn-row .zn-column-sm-5 {
        flex-grow: 5;
    }
    #znid-524259087955 .zn-row .zn-column-sm-4 {
        flex-grow: 4;
    }
    #znid-524259087955 .zn-row .zn-column-sm-3 {
        flex-grow: 3;
    }
    #znid-524259087955 .zn-row .zn-column-sm-2 {
        flex-grow: 2;
    }
    #znid-524259087955 .zn-row .zn-column-sm-1 {
        flex-grow: 1;
    }
}
#znid-756096834032 {
    margin: 20px 20px 0px 20px;
    opacity: 1;
}
#znid-756096834032[data-shadow-enable="true"] {
    box-shadow: 1px 1px 8px #333333;
}
#znid-756096834032[data-border-enable="true"] {
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 6px;
    overflow: hidden;
}
#znid-756096834032[data-background-type="color"] {
    background-color: ;
}
#znid-756096834032[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-756096834032[data-border-enable="true"]>.zn-element>.zn-accordion>.zn-accordion-section:not(:last-child) {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333333;
}
#znid-756096834032>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-handle {
    padding: 16px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#znid-756096834032[data-border-enable="true"]>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-handle.active {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333333;
}
#znid-756096834032>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-handle .zn-title {
    display: flex;
    align-items: center;
    text-align: left;
    font-family: inherit;
    color: #333333;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 0px;
}
#znid-756096834032[data-icon-position="right"]>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-handle .zn-title {
    margin-right: 32px;
}
#znid-756096834032 .zn-accordion .zn-accordion-handle .zn-toggle {
    width: 0;
    height: 0;
    position: relative;
}
#znid-756096834032 .zn-accordion .zn-accordion-handle>.zn-toggle.active {
    display: none;
}
#znid-756096834032 .zn-accordion .zn-accordion-handle.active>.zn-toggle.active {
    display: initial;
}
#znid-756096834032 .zn-accordion .zn-accordion-handle.active>.zn-toggle.inactive {
    display: none;
}
#znid-756096834032[data-icon-type="none"] .zn-accordion .zn-accordion-handle>.zn-toggle {
    display: none;
}
#znid-756096834032[data-icon-position="left"] .zn-accordion .zn-accordion-handle {
    justify-content: flex-start;
}
#znid-756096834032[data-icon-position="left"] .zn-accordion .zn-accordion-handle>.zn-title {
    order: 1;
    position: relative;
}
#znid-756096834032[data-icon-position="left"] .zn-accordion .zn-accordion-handle>.zn-toggle {
    order: 0;
    position: relative;
    left: 36px;
    margin-right: 42px;
}
#znid-756096834032>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-handle .zn-toggle .material-icons-outlined {
    font-size: 36px;
    position: absolute;
    top: -18px;
    left: -36px;
    color: #333333;
}
#znid-756096834032>.zn-element>.zn-accordion>.zn-accordion-section>.zn-accordion-panel {
    padding: 16px 16px 16px 16px;
    transition: max-height 0.2s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
    overflow: hidden;
}
#znid-114731102056 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-114731102056[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-114731102056[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-114731102056[data-background-type="color"] {
    background-color: ;
}
#znid-114731102056[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-114731102056 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-114731102056[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-187153091692 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-187153091692[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-187153091692[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-187153091692[data-background-type="color"] {
    background-color: ;
}
#znid-187153091692[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-187153091692 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-187153091692[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-319285634531 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-319285634531[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-319285634531[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-319285634531[data-background-type="color"] {
    background-color: ;
}
#znid-319285634531[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-319285634531 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-319285634531[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-892360997335 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-892360997335[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-892360997335[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-892360997335[data-background-type="color"] {
    background-color: ;
}
#znid-892360997335[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-892360997335 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-892360997335[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-679369913832 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-679369913832[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-679369913832[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-679369913832[data-background-type="color"] {
    background-color: ;
}
#znid-679369913832[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-679369913832 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-679369913832[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-736745856777 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-736745856777[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-736745856777[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-736745856777[data-background-type="color"] {
    background-color: ;
}
#znid-736745856777[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-736745856777 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-736745856777[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-621318056604 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-621318056604[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-621318056604[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-621318056604[data-background-type="color"] {
    background-color: ;
}
#znid-621318056604[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-621318056604 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-621318056604[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-302114397599 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-302114397599[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-302114397599[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-302114397599[data-background-type="color"] {
    background-color: ;
}
#znid-302114397599[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-302114397599 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-302114397599[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-134528540284 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-134528540284[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-134528540284[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-134528540284[data-background-type="color"] {
    background-color: ;
}
#znid-134528540284[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-134528540284 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-134528540284[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
#znid-708948306881 {
    margin: 0px 0px 0px 0px;
    opacity: 1;
}
#znid-708948306881[data-shadow-enable="true"] {
    box-shadow: 5px 5px 5px #333333;
}
#znid-708948306881[data-border-enable="true"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 0px;
    overflow: hidden;
}
#znid-708948306881[data-background-type="color"] {
    background-color: ;
}
#znid-708948306881[data-background-type="image"] {
    background-image: url();
    background-size: cover;
    background-position: center;
}
#znid-708948306881 .zn-text {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-family: inherit;
    color: #333333;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
#znid-708948306881[data-text-shadow-enable="true"] .zn-text {
    text-shadow: 3px 3px 3px #333333;
}
.zn-container {
    padding: 0px 0px 0px 0px;
    font-family: Roboto;
}
.zn-container a {
    color: #2196F3;
    text-decoration: none;
}
.zn-container a:hover {
    color: #2196F3CC;
    text-decoration: none;
}
.zn-announcement-bar {
    padding: 8px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.zn-announcement-bar.pad-right {
    padding-right: 48px;
}
.zn-announcement-bar .zn-announcement-message {
    font-family: inherit;
    color: #333333;
    font-size: 16px;
}
.zn-announcement-bar .zn-announcement-button {
    margin-left: 12px;
    flex-shrink: 0;
}
.zn-announcement-bar .zn-announcement-button button {
    font-size: 16px;
    padding: 8px 12px;
    font-family: inherit;
    color: #333333;
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.zn-announcement-bar .zn-annoucement-close {
    position: absolute;
    right: 16px;
    font-size: 24px;
    color: #333333;
    cursor: pointer;
}
.zn-announcement-bar .zn-annoucement-close:hover {
    opacity: 0.8;
}